<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ff9416" />
    <meta
      name="description"
      content="Aplikasi untuk menampilkan rekomendasi restoran dan juga makanan yang bisa kamu coba."
    />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="/images/logo/favicon.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restofud - Cari Restoran Sekarang</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke Konten</a>
    <app-bar></app-bar>
    <drawer-menu></drawer-menu>
    <main></main>
    <footer-elm></footer-elm>
  </body>
</html>
